@model FilmVM

@{
    ViewBag.Title = "FilterPage";
}



<table class="table table-hover" border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Genre</th>
            <th>Director</th>
            <th>Year</th>
            <th>Salon</th>
            <th colspan="3" style="text-align:center">Islemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Film item in Model.Films)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.Genre</td>
                <td>@item.Director</td>
                <td>@item.Year</td>
                <td>@item.CinemaRoom.Name</td>
                <td>
                    @Html.ActionLink("Ana Sayfaya Dön", "IndexPage", new { id = item.ID }, new
               {
                   @class = "btn btn-warning"
               })
                </td>
            </tr>
        }
    </tbody>
</table>

